.zoom-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zoom{
  position: fixed;
  width: unset !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 1;
  z-index: 9999;
}
